import(Rcpp)
import(methods)
importFrom(rstan,sampling)
importFrom(rstan,vb)
importFrom(rstan,extract_sparse_parts)
importFrom(lme4, mkVarCorr)
importFrom(Matrix,Matrix)
importFrom(Matrix,t)
importFrom(loo, nlist)
importFrom(dplyr, left_join)
importFrom(rlist, list.cbind)
importFrom(data.table, rbindlist)
useDynLib(EpiBayes, .registration = TRUE)
export(epim)
export(stanmodels)
export(genModelStanData)
export(genCovariatesStanData)
export(underlyings)
export(rep_number)
export(rep_number.epimodel)


